{% extends 'base.html' %}

{% block dashboard %}
	<table class="table table-bordered" style="margin-top: -30px;">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Email</th>
	      <th>Primary Mobile</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for contact in contacts %}
	      <tr>
	        <td>{{ contact.contact_details.name }}</td>
	        <td>{{ contact.contact_details.email }}</td>
	        <td>{{ contact.contact_details.primary_mobile_number }}</td>
	      </tr>
	    {% endfor %}
	  </tbody>
	</table>
	<!-- {{contacts}} -->
	{% if contacts.has_other_pages %}
		  <ul class="pagination" style="margin-top: -20px;">
		    {% if contacts.has_previous %}
		      <li><a href="?page={{ contacts.previous_page_number }}">&laquo;</a></li>
		    {% else %}
		      <li class="disabled"><span>&laquo;</span></li>
		    {% endif %}
		    {% for i in contacts.paginator.page_range %}
		      {% if contacts.number == i %}
		        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
		      {% else %}
		        <li><a href="?page={{ i }}">{{ i }}</a></li>
		      {% endif %}
		    {% endfor %}
		    {% if contacts.has_next %}
		      <li><a href="?page={{ contacts.next_page_number }}">&raquo;</a></li>
		    {% else %}
		      <li class="disabled"><span>&raquo;</span></li>
		    {% endif %}
	 	 </ul>
	{% endif %} <br><br><br><br><br>
{% endblock %}